---
export interface Props {
    title: string;
    description: string;
    imageUrl: string;
    elements?: Array<{
        text: string;
    }>;
    id?: string;
}

const { title, description, imageUrl, elements = [], id } = Astro.props;
---

<div class="container mx-auto px-4">
    <div id={id} class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-16 shadow-2xl rounded-xl snap-center">
        <div class="p-6">
            <div class="flex items-center mb-4">
                <h2 class="text-2xl font-bold">{title}</h2>
            </div>
            <p class="text-gray-800 mb-4">
                {description}
            </p>

            {
                elements.length > 0 && (
                    <ul class="space-y-2 mb-6">
                        {elements.map((element) => (
                            <li class="flex items-start">
                                <img class="w-5 h-5 text-blue-600 mr-2" src="/images/icons/square-check.svg" />
                                <span>{element.text}</span>
                            </li>
                        ))}
                    </ul>
                )
            }
            <a class="" href="contact">
                <button class="px-4 py-2 bg-blue-600 hover:bg-blue-700 rounded text-semibold text-white">
                Solicitar presupuesto
                </button>
            </a>
        </div>

        <div class="bg-gray-100 md:rounded-r-lg rounded-b-lg overflow-hidden md:relative">
            <img
                src={imageUrl}
                alt="Control de cucarachas"
                class="w-full h-full object-cover md:absolute inset-0"
            />
        </div>
    </div>
</div>
